<div class="popup pdf">
    <div class="popup-head">
        <h3 class="popup-title">PDF Preview</h3>
    </div>
    <div id="canvas" class="popup-body cv">
        <div class="item item-text-wrap">
            <h1 id="t" class="title pdf">{{title}}</h1>
            <div id="{{calendar.id}}" class="row special" ng-repeat="calendar in calendars track by $index">
                <div class="col-33 special one">
                    <div class="row header pdf">
                        <div class="col pdf blank"></div>
                        <div class="col head pdf" ng-if="$index == 0">Mon</div>
                        <div class="col head pdf" ng-if="$index == 0">Tue</div>
                        <div class="col head pdf" ng-if="$index == 0">Wed</div>
                        <div class="col head pdf" ng-if="$index == 0">Thu</div>
                        <div class="col head pdf" ng-if="$index == 0">Fri</div>
                    </div>
                    <div class ="row normal pdf" ng-repeat="i in [0,1,2,3,4] track by $index">
                        <div ng-if="i == 0" class="col pdf month">
                            {{calendar.month}}
                        </div>
                        <div ng-if="i != 0" class="col pdf blank"></div>
                        <div ng-style="calendar[i][j].color" class="col pdf" ng-repeat="j in [0,1,2,3,4] track by $index" ng-click="dayEvent(calendar[i][j])">
                            {{calendar[i][j].day}}
                        </div>
                    </div>
                </div>
                <div class="col special two">
                    <div class="row">
                        <div class="col info1">
                            <p class='info' ng-repeat="event in calendar.events.slice(0,5)">{{event.day + event.info}}</p>
                        </div>
                        <div class="col info1">
                            <p class='info' ng-repeat="event in calendar.events.slice(5, calendar.events.length)">{{event.day + event.info}}</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div id="editor"></div>
    </div>
    <div class="popup-buttons">
        <button class="button button-positive" ng-click="getImage()">Get Image</button>
        <button class="button button-light" ng-click="closeModal()">Exit</button>
    </div>
</div>



