<ion-view view-title="Home" ng-controller="homeController as homeCtrl">
    <ion-content class="home-page">
        <div class="list card">
            <div class="item item-divider">
                Click a calendar to view
            </div>
            <a class="item item-icon-left" ng-repeat="calendar in calendars track by $index">
                <i class="icon ion-calendar" ng-click="viewCalendar($index)" ></i>
                <div class="viewCalendars">
                    <button class="button button-energized" ng-click="viewPdf($index)">View PDF</button>
                    <button class="button button-assertive" ng-click="removeCalendar($index)">Remove</button>
                </div>
                {{calendar.get("title")}} <br>
                {{calendar.get("calendarYear")}}

            </a>
        </div>

    </ion-content>
</ion-view>