<ion-view view-title="Home" ng-controller="homeController as homeCtrl">
    <ion-content class="home-page">
        <div class="card">
            <div class="item item-divider">
                January
            </div>
            <div class="item item-text-wrap">
                <div class="row header">
                    <div class="col head">Mon</div>
                    <div class="col head">Tue</div>
                    <div class="col head">Wed</div>
                    <div class="col head">Thu</div>
                    <div class="col head">Fri</div>
                </div>
                <div class="row normal">
                    <div class="col">{{calendar[0][0].day}}
                        <div class="row">
                            hello
                        </div>
                        <div class="row">
                            sdkflnasl;knfasnfansienfiasefnaisnefip
                        </div>
                        <div class="row">
                            hello
                        </div>
                        <div class="row">
                            hello
                        </div>
                        <div class="row">
                            hello
                        </div>
                        <div class="row">
                            sdkflnasl;knfasnfansienfiasefnaisnefip
                        </div>
                    </div>
                    <div class="col">{{calendar[0][1]}}</div>
                    <div class="col">{{calendar[0][2]}}</div>
                    <div class="col">{{calendar[0][3]}}</div>
                    <div class="col">{{calendar[0][4]}}</div>
                </div>
                <div class="row normal">
                    <div class="col">{{calendar[1][0]}}</div>
                    <div class="col">{{calendar[1][1]}}</div>
                    <div class="col">{{calendar[1][2]}}</div>
                    <div class="col">{{calendar[1][3]}}</div>
                    <div class="col">{{calendar[1][4]}}</div>
                </div>
                <div class="row normal">
                    <div class="col">{{calendar[2][0]}}</div>
                    <div class="col">{{calendar[2][1]}}</div>
                    <div class="col">{{calendar[2][2]}}</div>
                    <div class="col">{{calendar[2][3]}}</div>
                    <div class="col">{{calendar[2][4]}}</div>
                </div>
                <div class="row normal">
                    <div class="col">{{calendar[3][0]}}</div>
                    <div class="col">{{calendar[3][1]}}</div>
                    <div class="col">{{calendar[3][2]}}</div>
                    <div class="col">{{calendar[3][3]}}</div>
                    <div class="col">{{calendar[3][4]}}</div>
                </div>
                <div class="row normal bottom">
                    <div class="col">{{calendar[4][0]}}</div>
                    <div class="col">{{calendar[4][1]}}</div>
                    <div class="col">{{calendar[4][2]}}</div>
                    <div class="col">{{calendar[4][3]}}</div>
                    <div class="col">{{calendar[4][4]}}</div>
                </div>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-top">
                <a class="tab-item" href="#">
                    <i class="icon ion-arrow-left-c"></i>
                    December
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-arrow-right-c"></i>
                    January
                </a>
            </div>
        </div>

    </ion-content>
</ion-view>