/* Login Page */
.login-page {
    width: 100%;
    padding: 20% 30%;
}

/* Home page*/
.calendar-page {
    width: 100%;
    padding: 2% 10%;
}

.home-page {
    width: 100%;
    padding: 2% 10%;
}

.row {
    padding: 5px;
    width: 100%;
    border-radius: 2px;
    text-align: center;
    font-weight: normal;
}

.col {
    padding: 0;
    border: 1px solid #ddd;
    height: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
}

.col.head {
    background-color: #d3d3d3;
    height: 30px;
    border-bottom: 1px solid black;
}

.row.header {
    font-weight: bold;
}

.row.bottom {
    border-bottom: 1px solid #ddd;
}

.row.normal div.col {
    text-align: left;
    padding-top: 0;
    padding-bottom: 60px;
}

.item-divider {
    text-align: center;
    font-size: x-large;
}

.item-divider {
    text-align: center;
    font-size: x-large;
}

.numEvents {
    float: right;
    color: #0000ff;
}

/*.item.item-input.item-select.color {*/
    /*height: 34px;*/
/*}*/

/*.item-select select {*/
    /*padding: 0 35px 0 0;*/
    /*max-width: none;*/
/*}*/

.icon.x {
    padding-top: 10px;
}

.saveCalendar {
    float: right;
}

.viewCalendars {
    float: right;
}

/* modal functionality*/
.popup-container .popup.account, .popup-container .popup {
    width: 400px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.9);
}

.popup-title {
    font-size: larger;
}

/* Form validation fields*/
.item-input input {
    width: 95%;
    background-color: 1px solid #DDD;
}

.item {
    padding-bottom: 8px;
}

.calendar-page .item.item-divider {
    padding-left: 130px;
}

.login-page .item.item-divider {
    padding-left: 30%;
    padding-right: 30%;
}


select.ng-invalid-required.ng-touched,
input.ng-invalid-email.ng-touched,
input.ng-invalid-required.ng-touched {
    background-color: #FFE1E1;
}

.errorMsg {
    color: #ef473a;
    font-size: medium;
}

.tabs {
    position: relative;
    border-bottom: 1px solid #ddd;
}

.tabs-icon-left.tabs .tab-item, .tabs-icon-left > .tabs .tab-item, .tabs-icon-right.tabs .tab-item, .tabs-icon-right > .tabs .tab-item {
    font-size: 18px;
}

.tab-item.header{
    max-width: none;
}


