/* Login Page */
.login-page {
    width: 100%;
    padding: 20% 30%;
}

/* Home page*/
.calendar-page {
    width: 100%;
    padding: 0% 10%;
}

.home-page {
    width: 100%;
    padding: 2% 10%;
}

.row {
    padding: 5px;
    width: 100%;
    border-radius: 2px;
    text-align: center;
    font-weight: normal;
}


.col {
    padding: 0;
    border: 1px solid #ddd;
    height: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
}

.col.special {
    border: none;
}

.col.special.one {
    height: 150px;
}

.col.special.two, .col.special.three, .col.info1 {
    height: 135px;
    border: none;
}

.col.pdf {
    height: 20px;
}

.col.pdf.blank {
    border: none;
}

.col.pdf.blank.extend {
    overflow: visible;
    font-size: 80%;
}

.col.pdf.month {
    background-color: #ddd;
}

.row.normal div.col.pdf {
    padding-bottom: 0;
}

.col.head {
    background-color: #d3d3d3;
    height: 30px;
    border-bottom: 1px solid black;
}

.col.head.pdf {
    background-color: #d3d3d3;
    height: 20px;
    border-bottom: none;
}

.col.head.info {
    background-color: #fff;
}

.row.header {
    font-weight: bold;
}

.row.header.pdf, .row.normal.pdf {
    width: 100%;
}

.row.bottom {
    border-bottom: 1px solid #ddd;
}

.row.normal div.col {
    text-align: left;
    padding-top: 0;

}

.info {
    text-align: left;
}

.item-divider {
    text-align: center;
    font-size: x-large;
}

.item-divider {
    text-align: center;
    font-size: x-large;
}

.numEvents {
    float: right;
    color: #0000ff;
}

.popup-body.cv {
    overflow: scroll;
    height: 600px;
    background-color: #ffffff;
}

.icon.x {
    padding-top: 10px;
}

.saveCalendar {
    float: right;
}

.viewCalendars {
    float: right;
}

/* modal functionality*/
.popup-container .popup.pdf, .popup-container .popup{
    width: 400px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.9);
}

.popup-container .popup.pdf {
    width: 600px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.9);
}

.popup-title {
    font-size: larger;
}

/* Form validation fields*/
.item-input input {
    width: 95%;
    background-color: 1px solid #DDD;
}

.item {
    padding-bottom: 8px;
}

.calendar-page .item.item-divider {
    padding-left: 130px;
}

.login-page .item.item-divider {
    padding-left: 30%;
    padding-right: 30%;
}


select.ng-invalid-required.ng-touched,
input.ng-invalid-email.ng-touched,
input.ng-invalid-required.ng-touched {
    background-color: #FFE1E1;
}

.errorMsg {
    color: #ef473a;
    font-size: medium;
}

.tabs {
    position: relative;
    border-bottom: 1px solid #ddd;
}

.tabs-icon-left.tabs .tab-item, .tabs-icon-left > .tabs .tab-item, .tabs-icon-right.tabs .tab-item, .tabs-icon-right > .tabs .tab-item {
    font-size: 18px;
}

.tab-item.header{
    max-width: none;
}

#canvas {
    background-color: #ffffff;
}



